.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #e6e6fa;
}

h1 {
  margin: 30px;
  font-family: 'Montserrat', cursive;
  text-shadow: 5px 0 #ffffff;
  font-size: 6rem;
  color: #9400d3;
}

p {
  font-size: 2rem;
  color: #9400d2;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

